.title {
    margin-bottom: 29px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    margin-bottom: 29px;
}

.stars {
    flex-shrink: 0;
    margin-right: 29px;
}

.summary {
    font-size: 20px;
    line-height: 23px;
}

.ratingNum {
    font-weight: bold;
}

.ratingText {
    color: #797874;
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {
    .item {
        flex-wrap: wrap;
    }

    .stars {
        width: 100%;
        margin-bottom: 20px;
    }
}
